<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iarchie.crm_v1.mapper.FoodinfoMapper" >
  <resultMap id="BaseResultMap" type="com.iarchie.crm_v1.domain.Foodinfo" >
    <id column="Id" property="id" jdbcType="VARCHAR" />
    <result column="foodName" property="foodname" jdbcType="VARCHAR" />
    <result column="foodDesc" property="fooddesc" jdbcType="VARCHAR" />
    <result column="recommendedPrice" property="recommendedprice" jdbcType="DOUBLE" />
    <result column="flag" property="flag" jdbcType="CHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, foodName, foodDesc, recommendedPrice, flag, createTime, updateTime, creator, 
    updator
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from foodInfo
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from foodInfo
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.iarchie.crm_v1.domain.Foodinfo" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into foodInfo (foodName, foodDesc, recommendedPrice, 
      flag, createTime, updateTime, 
      creator, updator)
    values (#{foodname,jdbcType=VARCHAR}, #{fooddesc,jdbcType=VARCHAR}, #{recommendedprice,jdbcType=DOUBLE}, 
      #{flag,jdbcType=CHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=VARCHAR}, #{updator,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.iarchie.crm_v1.domain.Foodinfo" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into foodInfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="foodname != null" >
        foodName,
      </if>
      <if test="fooddesc != null" >
        foodDesc,
      </if>
      <if test="recommendedprice != null" >
        recommendedPrice,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="updator != null" >
        updator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="foodname != null" >
        #{foodname,jdbcType=VARCHAR},
      </if>
      <if test="fooddesc != null" >
        #{fooddesc,jdbcType=VARCHAR},
      </if>
      <if test="recommendedprice != null" >
        #{recommendedprice,jdbcType=DOUBLE},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=CHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updator != null" >
        #{updator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iarchie.crm_v1.domain.Foodinfo" >
    update foodInfo
    <set >
      <if test="foodname != null" >
        foodName = #{foodname,jdbcType=VARCHAR},
      </if>
      <if test="fooddesc != null" >
        foodDesc = #{fooddesc,jdbcType=VARCHAR},
      </if>
      <if test="recommendedprice != null" >
        recommendedPrice = #{recommendedprice,jdbcType=DOUBLE},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=CHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updator != null" >
        updator = #{updator,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iarchie.crm_v1.domain.Foodinfo" >
    update foodInfo
    set foodName = #{foodname,jdbcType=VARCHAR},
      foodDesc = #{fooddesc,jdbcType=VARCHAR},
      recommendedPrice = #{recommendedprice,jdbcType=DOUBLE},
      flag = #{flag,jdbcType=CHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      updator = #{updator,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>